* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ==== Navbar CSS ==== */
.main-header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.brand {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.checkBtn {
  cursor: pointer;
  font-size: 30px;
  color: #333;
  line-height: 5rem;
  display: none;
}
#check {
  display: none;
}
.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-menu li {
  margin-right: 20px;
}
.navbar-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
/* Responsive Desgin */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-menu {
    text-align: center;
    margin-top: 10px;
    display: none;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .checkBtn {
    display: block;
  }
  #check:checked + .checkBtn ~ .navbar-menu {
    display: block;
  }
  .navbar-menu ul {
    flex-direction: column;
    align-items: center;
  }
  .navbar-menu li {
    margin: 0;
    margin-bottom: 10px;
  }
}
/* ==== Navbar CSS Ends ==== */

/* ==== Main Page CSS ==== */
.hero {
  display: flex;
  background-color: orange;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.background-container,
.hero-banner {
  flex: 1;
  box-sizing: border-box;
  max-width: 50%;
}
.background-container {
  text-align: right;
  padding-right: 20px;
  position: relative;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-banner,
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-container {
  align-self: stretch;
  height: 740px;
  padding: 100px 90px 40px;
  box-sizing: border-box;
  justify-content: center;
  gap: 100px;
  /* flex-direction: row; */
}

.hero-banner {
  justify-content: flex-start;
}
.hero-banner {
  align-self: stretch;
  z-index: 2;
  text-align: left;
  font-size: 16px;
}
.hero {
  width: 1600px;
  overflow: hidden;
  position: relative;
  text-align: right;
  font-size: 20px;
  color: #333;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}
.column {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.content-wrapper {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 12px;
  backdrop-filter: blur(20px);
  justify-content: flex-start;
}
.benefits {
  position: relative;
  line-height: 160%;
}
.full-container {
  /* background-color: aqua; */
  position: relative;
  margin: 0;
  align-self: stretch;
  font-size: 48px;
  line-height: 52.8px;
  font-weight: 800;
}
.half-container {
  color: white;
}
.description {
  width: 658px;
  height: 78px;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
}
.action-section {
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
  /* flex-direction: row; */
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.member-btn {
  background-color: #2d2c2b;
  cursor: pointer;
  width: 100%;
  border: 0;
  padding: 24px 63px 24px 63px;
  border-radius: 50px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}
.free-btn {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-align: center;
}
.rating-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rating-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.rate {
  position: relative;
  line-height: 20px;
}
.vector-icon {
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 22.73px;
}
.reviews {
  position: relative;
  font-size: 12px;
  line-height: 17.92px;
}
.trustpilot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.43px;
}
.trustpilot-logo {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trustpilot-main {
  height: 24.59px;
}
.trustpilot-name {
  width: 78.24px;
  height: 15.87px;
  top: 8.72px;
  left: 27.87px;
}
.trustpilot-5star {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 106.11px;
  height: 18.97px;
}
.column1 {
  align-self: stretch;
  flex: 1;
}
.featured-section {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 64px;
  font-size: 14.4px;
}
.featured-in {
  position: relative;
  line-height: 25.92px;
}
.logo-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 57px;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sponsor {
  position: relative;
  width: 178.57px;
  height: 41.37px;
  object-fit: cover;
}

/* Respoinsive  */

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
  .background-container,
  .hero-banner {
    max-width: 100%;
    text-align: left;
    padding-right: 0;
  }

  .play-container {
    position: static;
    transform: none;
    text-align: center;
  }
}
/* ==== Main Page Ends ==== */

/* ==== Benefits Page CSS Starts ==== */

.benefits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 98vw;
  height: 80vh;
  box-sizing: border-box;
}
.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  padding: 0 92px;
  gap: 64px;
}
.benefits-header {
  display: flex;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.benefits-header h1 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
  margin-top: 25px;
}
.benefits-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  height: 800px;
  flex-shrink: 0;
  gap: 64px;
  font-size: 16px;
  overflow-y: auto;
}
.benefits-curriculam {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 460px;
  border-radius: 32px;
  backdrop-filter: blur(100px);
  align-items: flex-start;
}
.frame-container {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  gap: 24px;
}
.benefits-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid #e8612a;
  padding: 16px 24px;
  background-color: #fef2b1;
  align-self: stretch;
  border-radius: 12px;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.number1,
.curriculam-description {
  position: relative;
  line-height: 130%;
}
.number1 {
  font-size: 30px;
  display: flex;
  color: #e8612a;
  text-align: right;
  align-items: center;
  width: 46px;
  flex-shrink: 0;
}
.curriculam-description {
  flex: 1;
  font-size: 25px;
  font-weight: 700;
  color: #333;
  text-align: left;
}
.number {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 30px;
  line-height: 130%;
  color: #333;
  text-align: right;
  width: 46px;
  flex-shrink: 0;
}
.benefits-btnn {
  cursor: pointer;
  border: 0;
  padding: 16px 24px;
  background-color: #fef2b1;
  align-self: stretch;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.course-curriculum-wrapper,
.course-curriculum {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.course-curriculum-wrapper {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}
.course-curriculum {
  align-self: stretch;
  overflow-y: auto;
  flex-direction: column;
}
.course-main-curriculum {
  display: flex;
  align-self: stretch;
  overflow-y: auto;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.course-benefits {
  align-self: stretch;
  border-radius: 24px;
  background-color: #fef2b1;
  display: flex;
  flex-direction: row;
  padding: 40px;
  align-items: flex-start;
  gap: 24px;
}
.course-empowring {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  gap: 24px;
}
.course-heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 31px;
  line-height: 140%;
  font-weight: 700;
}
.experienced-tutor {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  font-weight: 300;
}
.course-content-wrapper {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.course-topic {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.point {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 6px 0;
  align-items: flex-start;
  justify-content: center;
}
.point-icon {
  position: relative;
  width: 12px;
  height: 12px;
}
/* ==== Benefits Page CSS Ends ==== */

/* ==== Sticky Footer ==== */
.sticky-footer {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  background: linear-gradient(214.73deg, #fef2b1, #ef852b);
  width: 1600px;
  padding: 0 90px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14.4px;
  color: #333;
}
.sticky-footer,
.announcement-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.announcement-container {
  flex: 1;
  gap: 64px;
}
.gurukamatimage {
  position: relative;
  width: 148.06px;
  height: 82.43px;
  object-fit: cover;
}
.sticky-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}
.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 12px;
  border-radius: 16px;
  justify-content: center;
  font-size: 25px;
}
.time-wrapper {
  border: 1px solid #333;
  border-radius: 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.join {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #333;
  border-radius: 50px;
  color: white;
}
/* Sticky Footer Ends */
